---
import Layout from "../../layouts/Layout-guide.astro";
import Paragraph from "../../components/guide/Paragraph.astro";
import Title from "../../components/guide/Title.astro";
import DividerMd from "../../components/guide/Divider-md.astro";
import DividerSm from "../../components/guide/Divider-sm.astro";
import Image from "../../components/guide/Image.astro";
import Link from "../../components/guide/Links.astro";
import Disclaimer from "../../components/guide/Disclaimer.astro";
import NewLine from "../../components/guide/New-line.astro";
import Conclusions from "../../components/guide/Conclusions.astro";
import "../../styles/global.css";
---

<Layout
  title="Guide - Create Mastery"
  description="In this guide, we’ll teach you the basics of the 'Create' mod, some complementary mods, and even a few life hacks. On this page, we’ll explain what Create is, how to install it, and what it’s all about. We hope you enjoy this guide, so without further ado, happy reading!"
>
  <Title title="INTRODUCTION" />
  <Paragraph>
    In this guide, we’ll teach you the basics of the "Create" mod, some
    complementary mods, and even a few life hacks. On this page, we’ll explain
    what Create is, how to install it, and what it’s all about. We hope you
    enjoy this guide, so without further ado, happy reading!
  </Paragraph>
  <DividerMd />
  <Title title="WHAT IS CREATE?" />
  <Paragraph>
    Create is a Minecraft mod developed by
    <Link
      link="https://www.curseforge.com/members/simibubi/projects"
      text="Simibubi"
    />.
    {" "}With its iconic steampunk style, it’s one of the most distinctive mods
    in the game. Its main goal is the automation of various in-game materials.
    <br />
    Its main goal is the automation of various in-game materials
    <NewLine />
    At first, it might seem like automation makes the game too easy, but in reality,
    automating items is anything but simple.
    <br />
    When combined with other mods (like Mekanism, Immersive Engineering, Botany Pots,
    etc.) and its most famous add-ons (Create: Sifters, Create: Stuff and Additions,
    Create: Misc and Things, etc.), you can automate the majority—if not all—of the
    items from both the base game and other mods.
  </Paragraph>
  <DividerSm />
  <Image
    link="/assets/examples/farm-redstone-e-iron-nuggets.jpg"
    alt="Farm that produces redstone and iron nuggets"
    height="h-1/4"
  >
    Example of a farm that produces redstone and iron nuggets
  </Image>
  <DividerSm />
  <Paragraph>
    Another feature that Create offers is the ability to build trains. Trains
    are used to transport items, players, animals, and—even across
    dimensions—with the help of other mods, they can also transport electricity.
  </Paragraph>
  <DividerMd />
  <Title title="HOW TO INSTALL IT" />
  <Paragraph>
    For installation, I recommend using the
    <Link
      link="https://www.curseforge.com/download/app"
      text="CurseForge app"
    />
    {" "}as it allows you to create new modpacks or modify existing ones.
    Additionally, with this app, you can mod not only Minecraft but also other
    games.
    <NewLine />
    Create supports all versions of Minecraft (except snapshots) from 1.14.4 onwards.
    <NewLine />
    <Disclaimer>
      To install Create, and mods in general, using this method, you need to
      have the paid version of Minecraft. If you don’t have it, you won’t be
      able to proceed.
    </Disclaimer>
  </Paragraph>
  <DividerMd />
  <Title title="HOW TO CREATE YOUR FIRST MODPACK" />
  <Paragraph>
    To install the mod, we first need a "profile."
    <br />
    Profiles are essentially modpacks.
    <NewLine />
    To create one, first select Minecraft from the list of games. Once you’re on
    the Minecraft page, click on the “Create” button in the top left corner.
    <NewLine />
    From there, you need to choose:
    <NewLine />
  </Paragraph>
  <ul class="text-stone-200 text-xl ml-4 list-disc list-inside">
    <li>The name (whatever you want)</li>
    <li>The icon (again, whatever you want)</li>
    <li>The game version (for this guide, I recommend 1.20.1)</li>
    <li>
      The game type (Forge, because it’s compatible with all the game mods)
    </li>
    <li>The Forge version (the latest available)</li>
  </ul>
  <br />
  <Paragraph>
    From there, click “Add more content.” Before continuing, make sure that at
    the top left (under the filter section) it says “mods.” Now, type “Create”
    in the search bar and click Install on the first result.
    <NewLine />
    You can repeat this process for all other game mods, as long as they are compatible
    with the game version and the mod loader (in this case, Forge).
    <NewLine />
    Now, click the X in the top right to return directly to the profile page. As
    you can see, Create has been installed.
    <NewLine />
    Next, click “Play” in the top right. The Minecraft launcher will open. Press
    the Play button, and you will see a warning saying that you are playing a modified
    version of the game. This is normal—just click “I am aware of the risks. Don’t
    warn me again for this installation”, and then press Play again.
    <NewLine />
    The game will now launch. Adjust the settings however you like, then create a
    new world. I recommend making it a flat world and in Creative mode so you can
    experiment with everything in Create. Here too, the name is up to you. Commands
    will already be enabled, but I suggest checking to make sure that commands are
    set to Yes.
  </Paragraph>
  <DividerSm />
  <Conclusions>
    And voilà! You’ve just created your first modpack and world. Now you’re
    ready to experiment with Create!!
    <NewLine />
    On this page, you’ve learned:
    <ul class="text-stone-200 text-xl ml-4 list-disc list-inside">
      <li>
        The basics of Create:
        <ul class="text-stone-200 text-xl ml-4 list-disc list-inside">
          <li>What it is</li>
          <li>Who its creator is</li>
          <li>What it consists of</li>
        </ul>
      </li>
      <li>
        The basics of CurseForge:
        <ul class="text-stone-200 text-xl ml-4 list-disc list-inside">
          <li>How to create modpacks</li>
          <li>How to install mods</li>
        </ul>
      </li>
    </ul>
  </Conclusions>
  <DividerSm />
</Layout>
