---
import Layout from "../../layouts/Layout-guide.astro";
import "../../styles/global.css";
---

<Layout title="Guide - Create Mastery">
    <h1 class="text-3xl font-bold text-blue-300">TEST</h1>
</Layout>
