---
import "../styles/global.css";
const { link, text } = Astro.props;
---

<a
    href={link}
    target="_blank"
    class="bg-blue-300 text-stone-900 rounded font-bold w-fit px-4 my-6 text-2xl py-2"
    ><h2>{text}</h2></a
>
