---
import "../../styles/global.css";
---

<div
  class="flex flex-col bg-stone-800 p-2 rounded-lg border-2 border-orange-400 xl:w-full"
>
  <p class="text-orange-400 font-bold text-xl">DISCLAIMER</p>
  <p class="text-stone-200 ml-2 text-xl">
    <slot />
  </p>
</div>
