---
import "../../styles/global.css";
const { title } = Astro.props;
---

<div
    class="h-fit bg-stone-700 border rounded flex flex-col justify-between border-stone-700 text-blue-300 font-bold py-1 pl-3 gap-2 text-xl select-none hover:cursor-pointer"
    onclick="
        const chevronIcon = document.getElementById('chevronIcon');
        if (chevronIcon.style.getPropertyValue('--fa-rotate-angle') === '-90deg') {
            chevronIcon.style.setProperty('--fa-rotate-angle', '0deg');
        } else {
            chevronIcon.style.setProperty('--fa-rotate-angle', '-90deg');
        }

        const entryContent = document.getElementById('entryContent');
        if (entryContent.style.display === 'none' || !entryContent.style.display) {
            entryContent.style.display = 'block';
        } else {
            entryContent.style.display = 'none';
        }
"
>
    <div>
        {title}
        <i
            id="chevronIcon"
            class="fa-solid fa-chevron-down fa-rotate-by fa-lg transition-transform duration-300"
            style="--fa-rotate-angle: -90deg;"></i>
    </div>
    <div class="hidden" id="entryContent">
        <slot />
    </div>
</div>
