---
import "../../styles/global.css";
---

<div
    class="h-fit flex items-center justify-start text-blue-300 font-bold pl-3 select-none text-xl pb-2"
>
    <div class="hover:underline hover:cursor-pointer">
        <slot />
    </div>
</div>
