---
import "../styles/global.css";
import LinksHero from "../components/links/Links-hero.astro";
import LinksHero2 from "../components/links/Links-hero-2.astro";

const { error, message } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/f0be53b175.js"
      crossorigin="anonymous"></script>
    <title>{error} error page</title>
  </head>

  <body
    class="flex flex-col items-center justify-center bg-stone-900 min-h-screen gap-1"
  >
    <h1 class="text-9xl text-blue-300 font-bold my-2">{error}</h1>
    <p class="text-xl text-stone-200">{message}</p>
    <div class="flex flex-row gap-6">
      <LinksHero link="/" text="GO TO THE HOME PAGE" />
      <LinksHero2 link="/guide" text="CHECK THE GUIDE" />
    </div>
  </body>
</html>
